body{
	background:#292c35;
}
@font-face{
	font-family: 'Segoe UI_2.woff2';
 	src:url("fonts/Segoe UI_2.woff2");
}
span{
	font-size: 2em;
	color: white;
	font-family: Segoe UI_2,Segoe UI;
	margin-left: 5%;
}
.input{
	height:auto;
	width: 84%;
	background:#343947;
	border:none; 
	cursor: text;
	font-size: 2em;
	font-family: Segoe UI_2,Segoe UI;
	color: white;
	z-index: 2;
	display:inline-block;
}
.fon_input{
	background:#343947;
	border-width:5px;
	border-style:solid;
	position: absolute; 
	border-color: black;
	cursor: text;
	top: 85%;
	left: 10%;
	width: 75%;
	z-index: 1;
}
.reply:hover{
	background:#babacc;
}
.reply{
	height: 98%;
	width: 10%;
	background:#ededef;
	border-width: 2px;
	border-color: black;
	border-style:solid;
	position: absolute;
	
	left: 85%;
	font-size: 2.5em;
	text-align: center;
	cursor: pointer;
}
.massage{
	margin-top:5%;
	margin-left: 10%;
	max-height:70%;
}
	.head_lyaer{
		max-width: 90%;
		background:white;
		display:block;
	}
	.head_lyaer_2{
		max-width: 90%;
		background:white;
		display:block;
		overflow: hidden;
	}
		.subordinate_layer{
			top: -20px;
			left: -20px;
			background:#00cabc;
			font-size: 2.1vh;
			word-wrap: break-word;
			position: relative;
			display: block;
			overflow: hidden;
		}
		.subordinate_layer_2{
			top: -20px;
			left: 20px;
			background:#00a5bd;
			font-size: 2.1vh;
			word-wrap: break-word;
			position: relative;
			display: block;
			overflow: hidden;
			
		}
		.text{
			margin-top: 1%;
			line-height:125%;
			color: black;

		}